{
	"servers": [{
		"default_log_path": "stdout",
		"default_log_level": "ERROR",
		"routers": [{
				"router_config_name": "client_router4uds",
				"virtual_hosts": [{
						"name": "clientHost1",
						"domains": [
							"jltest:qunar.tc.dubbotest.TestService"
						],
						"routers": [{
							"match": {
								"headers": [{
									"name": "method",
									"value": "test"
								}]
							},
							"route": {
								"cluster_name": "clientCluster4uds"
							}

						}]
					},
					{
						"name": "clientHost12",
						"domains": [
							"jltest:com.imooc.springboot.dubbo.demo.DemoService"
						],
						"routers": [{
							"match": {
								"headers": [{
									"name": "method",
									"value": "sayHello"
								}]
							},
							"route": {
								"cluster_name": "clientCluster4uds"
							}

						}]
					},
					{
						"name": "clientHost2",
						"domains": [
							"DemoService2"
						],
						"routers": [{
							"match": {
								"headers": [{
									"name": "service",
									"value": ".*"
								}]
							},
							"route": {
								"cluster_name": "clientCluster4uds"
							}
						}]
					}
				]
			},
			{
				"router_config_name": "client_router4http",
				"virtual_hosts": [{
					"name": "clientHost1",
					"domains": [
						"jltest:qunar.tc.dubbotest.TestService"
					],
					"routers": [{
						"match": {
							"headers": [{
								"name": "method",
								"value": "test"
							}]
						},
						"route": {
							"cluster_name": "clientCluster4http"
						}

					}]
				}, {
					"name": "clientHost1223",
					"domains": [
						"jltest:com.imooc.springboot.dubbo.demo.DemoService"
					],
					"routers": [{
						"match": {
							"headers": [{
								"name": "method",
								"value": "sayHello"
							}]
						},
						"route": {
							"cluster_name": "clientCluster4http"
						}

					}]
				}]
			}
		],
		"listeners": [{
				"name": "clientListener4uds",
				"address": "/tmp/client.sock",
				"bind_port": true,
				"network": "unix",
				"log_path": "stdout",
				"filter_chains": [{
					"tls_context": {

					},
					"filters": [{
						"type": "proxy",
						"config": {
							"downstream_protocol": "X",
							"upstream_protocol": "X",
							"router_config_name": "client_router4uds",
							"extend_config": {
								"sub_protocol": "dubboex"
							}
						}
					}]
				}],
				"stream_filters": [{
					"type": "dubbo_stream",
					"config": {
						"subset": "group"
					}
				}]
			},
			{
				"name": "clientListener",
				"address": "0.0.0.0:8888",
				"bind_port": true,
				"log_path": "stdout",
				"filter_chains": [{
					"tls_context": {

					},
					"filters": [{
						"type": "proxy",
						"config": {
							"downstream_protocol": "X",
							"upstream_protocol": "X",
							"router_config_name": "client_router4http",
							"extend_config": {
								"sub_protocol": "dubboex"
							}
						}
					}]
				}],
				"stream_filters": [{
					"type": "dubbo_stream",
					"config": {
						"subset": "group"
					}
				}]
			}
		]
	}],
	"cluster_manager": {
		"clusters": [{
				"Name": "clientCluster4http",
				"type": "SIMPLE",
				"lb_type": "LB_RANDOM",
				"max_request_per_conn": 2048,
				"conn_buffer_limit_bytes": 32768,
				"hosts": [{
					"address": "127.0.0.1:3154"
				}]
			},
			{
				"Name": "clientCluster4uds",
				"type": "SIMPLE",
				"lb_type": "LB_RANDOM",
				"max_request_per_conn": 2048,
				"conn_buffer_limit_bytes": 32768,
				"hosts": [{
					"address": "127.0.0.1:3154"
				}]
			}

		]
	},
	"extends": [{
		"type": "dubbo_registry",
		"config": {
			"enable": true,
			"server_port": 20080,
			"api_port": 10022,
			"registry_addr": "127.0.0.1:2181",
			"log_path": "/tmp"
		}
	}]

}